*{
  margin: 0px;
  padding: 0px;
}
.log-btn{
padding-top: 50px;
padding-bottom: 50px;
background-position: center;
background-size: cover;
background-color: black;
margin-left: 20%;
margin-right: 20%;
border-radius:30px;
margin-top: 30px;
}